<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title>Anime by Team 5</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Home</h1>
    
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/user/add">Add User</a>    
    
    <h2>Ini halaman HOME</h2>
</body>
</html>
=======
    <title>Manga Mirai</title>
</head>
<body>
    
</body>
</html>
>>>>>>> cbbc8a2a7fe3f90e5b782e510926fd72f2619e7e
